<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.piesat.sec.dao.mapper.dataparse.HEParticalMapper">
    <insert id="save">
        insert into SEC_PARTICLE_FLUX(TIME, E2) values
        <foreach item="item" index="index" collection="data" separator=",">
            (#{item.time},#{item.e2})
        </foreach>
    </insert>
</mapper>