<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.piesat.sec.dao.mapper.dataparse.SeEventlMapper">
    <insert id="save">
        <if test="data != null">
            insert into ${tableName}(PUBLISH_TIME, THRESHOLD_TIME, CONTENT, OVERVIEW, LEVEL ) values
            (#{data.time},#{data.time},#{data.content},#{data.content},#{data.level})
        </if>
    </insert>
</mapper>