<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.piesat.sec.dao.mapper.SecApIndexMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.piesat.sec.model.entity.SecApIndexDO" id="secApIndexMap">
        <result property="id" column="ID"/>
        <result property="unitId" column="UNIT_ID"/>
        <result property="deviceId" column="DEVICE_ID"/>
        <result property="staId" column="STA_ID"/>
        <result property="ap" column="AP"/>
        <result property="time" column="TIME"/>
    </resultMap>

    <select id="getAPData" resultMap="secApIndexMap">
        SELECT AP, TIME FROM SEC_AP_INDEX
        <where>
            <if test="startTime != null">
                AND TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND TIME <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY TIME ASC
    </select>

</mapper>