<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.piesat.sec.dao.mapper.SecAlarmEventMapper">
    <resultMap type="cn.piesat.sec.model.entity.SecProtonAlarmDO" id="alarmEventMapper">
        <result property="thresholdTime" column="THRESHOLD_TIME"/>
        <result property="content" column="CONTENT"/>
        <result property="overview" column="OVERVIEW"/>
        <result property="level" column="LEVEL"/>
        <result property="type" column="TYPE"/>
    </resultMap>

    <resultMap type="cn.piesat.sec.model.entity.SecAlarmForecastDO" id="secAlarmForecastMap">
        <result property="id" column="ID"/>
        <result property="unitId" column="UNIT_ID"/>
        <result property="deviceId" column="DEVICE_ID"/>
        <result property="staId" column="STA_ID"/>
        <result property="spe1" column="SPE1"/>
        <result property="spe2" column="SPE2"/>
        <result property="spe3" column="SPE3"/>
        <result property="ree1" column="REE1"/>
        <result property="ree2" column="REE2"/>
        <result property="ree3" column="REE3"/>
        <result property="gsmi1" column="GSMI1"/>
        <result property="gsmi2" column="GSMI2"/>
        <result property="gsmi3" column="GSMI3"/>
        <result property="gsma1" column="GSMA1"/>
        <result property="gsma2" column="GSMA2"/>
        <result property="gsma3" column="GSMA3"/>
        <result property="sxr1" column="SXR1"/>
        <result property="sxr2" column="SXR2"/>
        <result property="sxr3" column="SXR3"/>
        <result property="time" column="TIME"/>
    </resultMap>
    <select id="getAlarmEventsDataCount" resultType="Long">
        select count(*) from (
        SELECT LEVEL FROM SEC_XRAY_ALARM
        <where>
            <if test="startTime!=null">
                AND THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime!=null">
                AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
            </if>
            <if test="level!=null and level!=''">
                AND LEVEL ${level}
            </if>
        </where>
        UNION ALL
        SELECT LEVEL FROM SEC_PROTON_ALARM
        <where>
            <if test="startTime!=null">
                AND THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime!=null">
                AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
            </if>
            <if test="level!=null and level!=''">
                AND LEVEL ${level}
            </if>
        </where>
        UNION ALL
        SELECT LEVEL FROM SEC_ELE_ALARM
        <where>
            <if test="startTime!=null">
                AND THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime!=null">
                AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
            </if>
            <if test="level!=null and level!=''">
                AND LEVEL ${level}
            </if>
        </where>
        UNION ALL
        SELECT LEVEL FROM SEC_DST_ALARM
        <where>
            <if test="startTime!=null">
                AND THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime!=null">
                AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
            </if>
            <if test="level!=null and level!=''">
                AND LEVEL ${level}
            </if>
        </where>
        )
    </select>

    <select id="getAlarmEventsDataList" resultMap="alarmEventMapper">
        SELECT 'xray' AS TYPE, THRESHOLD_TIME, CONTENT,LEVEL,OVERVIEW FROM SEC_XRAY_ALARM
        <where>
            <if test="startTime!=null">
                AND THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime!=null">
                AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
            </if>
            <if test="level!=null and level!=''">
                AND LEVEL ${level}
            </if>
        </where>
        UNION ALL
        SELECT 'proton' AS TYPE, THRESHOLD_TIME, CONTENT,LEVEL,OVERVIEW FROM SEC_PROTON_ALARM
        <where>
            <if test="startTime!=null">
                AND THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime!=null">
                AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
            </if>
            <if test="level!=null and level!=''">
                AND LEVEL ${level}
            </if>
        </where>
        UNION ALL
        SELECT 'electron' AS TYPE, THRESHOLD_TIME, CONTENT,LEVEL,OVERVIEW FROM SEC_ELE_ALARM
        <where>
            <if test="startTime!=null">
                AND THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime!=null">
                AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
            </if>
            <if test="level!=null and level!=''">
                AND LEVEL ${level}
            </if>
        </where>
        UNION ALL
        SELECT 'geomagnetic' AS TYPE, THRESHOLD_TIME, CONTENT,LEVEL,OVERVIEW FROM SEC_DST_ALARM
        <where>
            <if test="startTime!=null">
                AND THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime!=null">
                AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
            </if>
            <if test="level!=null and level!=''">
                AND LEVEL ${level}
            </if>
        </where>
        ORDER BY THRESHOLD_TIME DESC limit #{offset}, #{pageSize}
    </select>

    <select id="getAlarmEventDataCount" resultType="Long">
        SELECT count(*) FROM ${tableName}
        <where>
            <if test="startTime!=null">
                AND THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime!=null">
                AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
            </if>
            <if test="level!=null and level!=''">
                AND LEVEL ${level}
            </if>
        </where>
    </select>

    <select id="getAlarmEventDataList" resultMap="alarmEventMapper">
        SELECT ${type} AS TYPE, THRESHOLD_TIME, CONTENT,LEVEL,OVERVIEW FROM ${tableName}
        <where>
            <if test="startTime!=null">
                AND THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime!=null">
                AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
            </if>
            <if test="level!=null and level!=''">
                AND LEVEL ${level}
            </if>
        </where>
        ORDER BY THRESHOLD_TIME DESC
        OFFSET #{offset} limit #{pageSize}
    </select>

    <select id="getAlarmEvent3daysForecast" resultMap="secAlarmForecastMap">
        SELECT SPE1,
               SPE2,
               SPE3,
               REE1,
               REE2,
               REE3,
               GSMI1,
               GSMI2,
               GSMI3,
               GSMA1,
               GSMA2,
               GSMA3,
               SXR1,
               SXR2,
               SXR3, TIME
        FROM SEC_ALARM_FORECAST
        ORDER BY TIME DESC LIMIT 1
    </select>

    <select id="getTodayAlarmEvent" resultMap="alarmEventMapper">
        select THRESHOLD_TIME, CONTENT, OVERVIEW, LEVEL
        from ${tableName}
        where THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
          and THRESHOLD_TIME <![CDATA[<]]> #{endTime}
    </select>

    <select id="getXrayAlramEventsBef24h" resultType="java.util.HashMap">
        select LEVEL xray
        from SEC_XRAY_ALARM
        where THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
        AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
    </select>

    <select id="getProtonAlramEventsBef24h" resultType="java.util.HashMap">
        select LEVEL proton
        from SEC_XRAY_ALARM
        where THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
        AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
    </select>

    <select id="getEleAlramEventsBef24h" resultType="java.util.HashMap">
        select LEVEL ele
        from SEC_XRAY_ALARM
        where THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
        AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
    </select>

    <select id="getDstAlramEventsBef24h" resultType="java.util.HashMap">
        select LEVEL dst
        from SEC_XRAY_ALARM
        where THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
        AND THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
    </select>

    <select id="getOverviewEvents24h" resultType="java.util.HashMap">
        select PAST_REVIEW bef24h, FUTURE_REVIEW aft3day
        FROM SEC_DAILY_OVERVIEW
        where TIME <![CDATA[>=]]> #{startTime}
        AND TIME <![CDATA[<=]]> #{endTime}
    </select>

    <update id="updatePath">
        <choose>
            <when test="type=='week'">
                UPDATE SEC_WEEK_OVERVIEW
                SET path=#{path}
                WHERE TIME=#{time};
                COMMIT;
            </when>
            <when test="type=='month'">
                UPDATE SEC_MONTH_OVERVIEW
                SET path=#{path}
                WHERE TIME=#{time};
                COMMIT;
            </when>
            <otherwise>
                UPDATE SEC_DAILY_OVERVIEW
                SET path=#{path}
                WHERE TIME=#{time};
                COMMIT;
            </otherwise>
        </choose>
    </update>

    <select id="getAlarmEventCount" resultMap="alarmEventMapper">
        select LEVEL, wm_concat(TO_CHAR(THRESHOLD_TIME, 'MM-DD')) CONTENT
        from ${tableName}
        where
            level <![CDATA[>]]> 0
          and
            THRESHOLD_TIME <![CDATA[>=]]> #{startTime}
          and THRESHOLD_TIME <![CDATA[<=]]> #{endTime}
        group by level
        order by level asc
    </select>
</mapper>