<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.piesat.sec.dao.mapper.SecAlarmForecastMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.piesat.sec.model.entity.SecAlarmForecastDO" id="secAlarmForecastMap">
        <result property="id" column="ID"/>
        <result property="unitId" column="UNIT_ID"/>
        <result property="deviceId" column="DEVICE_ID"/>
        <result property="staId" column="STA_ID"/>
        <result property="spe1" column="SPE1"/>
        <result property="spe2" column="SPE2"/>
        <result property="spe3" column="SPE3"/>
        <result property="ree1" column="REE1"/>
        <result property="ree2" column="REE2"/>
        <result property="ree3" column="REE3"/>
        <result property="gsmi1" column="GSMI1"/>
        <result property="gsmi2" column="GSMI2"/>
        <result property="gsmi3" column="GSMI3"/>
        <result property="gsma1" column="GSMA1"/>
        <result property="gsma2" column="GSMA2"/>
        <result property="gsma3" column="GSMA3"/>
        <result property="sxr1" column="SXR1"/>
        <result property="sxr2" column="SXR2"/>
        <result property="sxr3" column="SXR3"/>
        <result property="time" column="TIME"/>
    </resultMap>


</mapper>