<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.piesat.sec.dao.mapper.SecBxyzMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.piesat.sec.model.entity.SecBxyzDO" id="secBxyzMap">
        <result property="id" column="ID"/>
        <result property="alt" column="ALT"/>
        <result property="lon" column="LON"/>
        <result property="lat" column="LAT"/>
        <result property="bT" column="B"/>
        <result property="bX" column="B_X"/>
        <result property="bY" column="B_Y"/>
        <result property="bZ" column="B_Z"/>
        <result property="time" column="TIME"/>
    </resultMap>

    <select id="getBtxyzData" resultMap="secBxyzMap">
        SELECT B,B_X,B_Y,B_Z,TIME from SEC_B_XYZ
        <where>
            <if test="startTime != null">
                AND TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND TIME <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY TIME ASC
    </select>
</mapper>