<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.piesat.sec.dao.mapper.SecF107FluxMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.piesat.sec.model.entity.SecF107FluxDO" id="secF107FluxMap">
        <result property="id" column="ID"/>
        <result property="unitId" column="UNIT_ID"/>
        <result property="deviceId" column="DEVICE_ID"/>
        <result property="staId" column="STA_ID"/>
        <result property="f107" column="F107"/>
        <result property="time" column="TIME"/>
    </resultMap>

    <select id="getF107Data" resultMap="secF107FluxMap">
        SELECT F107, TIME FROM SEC_F107_FLUX
        <where>
            <if test="startTime != null">
                AND TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND TIME <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY TIME ASC
    </select>
</mapper>