<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.piesat.sec.dao.mapper.SecOverviewMapper">
    <resultMap type="cn.piesat.sec.model.vo.SecOverviewVO" id="SecOverviewMap">
        <result property="id" column="ID"/>
        <result property="time" column="TIME"/>
        <result property="pastReview" column="PAST_REVIEW"/>
        <result property="futureReview" column="FUTURE_REVIEW"/>
        <result property="path" column="PATH"/>
    </resultMap>

    <select id="getPeriodOverview" resultMap="SecOverviewMap">
        SELECT TIME, PAST_REVIEW, FUTURE_REVIEW, PATH
        FROM ${tableName}
        <where>
            <if test="startTime != null">
                AND TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND TIME <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        LIMIT 1
    </select>
</mapper>