<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.piesat.sec.dao.mapper.SecParticleFluxMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="secParticleFluxMap" type="cn.piesat.sec.model.entity.SecParticleFluxDO">
        <result property="id" column="ID"/>
        <result property="p10" column="P10"/>
        <result property="p50" column="P50"/>
        <result property="p100" column="P100"/>
        <result property="e2" column="E2"/>
        <result property="pdiff1" column="PDIFF1"/>
        <result property="pdiff2a" column="PDIFF2A"/>
        <result property="pdiff2b" column="PDIFF2B"/>
        <result property="pdiff3" column="PDIFF3"/>
        <result property="pdiff4" column="PDIFF4"/>
        <result property="pdiff5" column="PDIFF5"/>
        <result property="pdiff6" column="PDIFF6"/>
        <result property="pdiff7" column="PDIFF7"/>
        <result property="pdiff8a" column="PDIFF8A"/>
        <result property="pdiff8b" column="PDIFF8B"/>
        <result property="pdiff8c" column="PDIFF8C"/>
        <result property="pdiff9" column="PDIFF9"/>
        <result property="pdiff10" column="PDIFF10"/>
        <result property="time" column="TIME"/>
    </resultMap>
    <select id="getProtonFluxData" resultMap="secParticleFluxMap">
        SELECT P10,P50,P100,TIME FROM SEC_PARTICLE_FLUX
        <where>
            <if test="startTime != null">
                AND TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND TIME <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY TIME ASC
    </select>

    <select id="getElectronicFluxData" resultMap="secParticleFluxMap">
        SELECT E2, TIME FROM SEC_PARTICLE_FLUX
        <where>
            E2 > -9999
            <if test="startTime != null">
                AND TIME <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND TIME <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        ORDER BY TIME ASC
    </select>
</mapper>