<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.piesat.sec.dao.mapper.SecReportMapper">
    <select id="getCombinData" resultType="java.util.HashMap">
        SELECT DISTINCT TO_CHAR(T1.TIME, 'YYYY-MM-DD') TIME,
                        ROUND(AP) AP,
                        SSN,
                        LONGER,
                        E2,
                        F107,
                        KP KP,
                        T7.LEVEL PROTON,
                        T8.CONTENT
        FROM
            (select sum(AP) AP,TO_CHAR(TIME, 'YYYY-MM-DD') TIME FROM SEC_AP_INDEX group by TO_CHAR(TIME, 'YYYY-MM-DD')) T1
            LEFT JOIN SEC_SSN T2
        ON TO_CHAR(T1.TIME,'YYYY-MM-DD')=TO_CHAR(T2.TIME,'YYYY-MM-DD')
            LEFT JOIN SEC_XRAY_FLUX T3 ON TO_CHAR(T1.TIME,'YYYY-MM-DD') = TO_CHAR(T3.TIME,'YYYY-MM-DD')
            LEFT JOIN (SELECT SUM(E2) E2,TO_CHAR(TIME, 'YYYY-MM-DD')TIME FROM SEC_PARTICLE_FLUX group by TO_CHAR(TIME, 'YYYY-MM-DD')) T4 ON TO_CHAR(T1.TIME,'YYYY-MM-DD') = TO_CHAR(T4.TIME,'YYYY-MM-DD')
            LEFT JOIN (SELECT SUM(F107) F107,TO_CHAR(TIME, 'YYYY-MM-DD')TIME FROM SEC_F107_FLUX group by TO_CHAR(TIME, 'YYYY-MM-DD')) T5 ON TO_CHAR(T1.TIME,'YYYY-MM-DD') = TO_CHAR(T5.TIME,'YYYY-MM-DD')
            LEFT JOIN (SELECT TO_CHAR(TIME, 'YYYY-MM-DD') TIME, WM_CONCAT(ROUND(KP))KP FROM SEC_KP_INDEX GROUP BY TO_CHAR(TIME, 'YYYY-MM-DD') ) T6 ON TO_CHAR(T1.TIME,'YYYY-MM-DD') = T6.TIME
            LEFT JOIN SEC_PROTON_ALARM T7 ON TO_CHAR(T1.TIME, 'YYYY-MM-DD') = TO_CHAR(T7.THRESHOLD_TIME, 'YYYY-MM-DD')
            LEFT JOIN SEC_XRAY_ALARM T8 ON TO_CHAR(T1.TIME, 'YYYY-MM-DD') = TO_CHAR(T8.THRESHOLD_TIME, 'YYYY-MM-DD')
        where T1.TIME <![CDATA[>=]]> #{startTime}
          and T1.TIME <![CDATA[<=]]> #{endTime}
        order by TIME ASC
    </select>
</mapper>