<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.piesat.sec.dao.mapper.SecXrayAlarmMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.piesat.sec.model.entity.SecXrayAlarmDO" id="secXrayAlarmMap">
        <result property="id" column="ID"/>
        <result property="unitId" column="UNIT_ID"/>
        <result property="deviceId" column="DEVICE_ID"/>
        <result property="staId" column="STA_ID"/>
        <result property="publishTime" column="PUBLISH_TIME"/>
        <result property="thresholdTime" column="THRESHOLD_TIME"/>
        <result property="content" column="CONTENT"/>
        <result property="level" column="LEVEL"/>
        <result property="overview" column="OVERVIEW"/>
    </resultMap>


</mapper>